body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid greenyellow;
  padding: 10px;
  margin: 20px;
  border-radius: 25px;
}

.Controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

button {
  margin-bottom: 5px;
  height: 25px;
  border-radius: 5px;
}

.points {
  font-weight: bold;
}

.fancy {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 1.5em;
}